//@use "react-md" as *;

// this will include all the styles from react-md
//@include react-md-utils;



@font-face {
  font-family: "PoppinsB";
  src: url('../../fonts/Poppins/Poppins-Black.ttf')
}


.App {
  text-align: center;
}


.App-header {
  //background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.Body-Position {
  padding-left: 5%;
  padding-right: 5%;
  width: 80%;
}

body {
  background-color: rgba($color: #000, $alpha: 0);

}


.Body {

  text-align: left;
  align-items: left;
  justify-content: left;


  background-color: #181820;

  //min-height: 100vh; espace pour le footer & header
  min-height: 85vh;

  padding-bottom: 5vh;
  overflow-x: hidden;
  overflow-y: hidden;
  /* Hide vertical scrollbar */
}





.BoxArea {

  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  // padding-left: 2%;
  // padding-right: 2%;

}

.ProjectBoxLayout {
  width: 20%;
  //min-width: 60px;
  //max-width: 230px;

  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 5vh;
}

.ProjectBox {
  box-sizing: border-box;
  border: 0.1vh solid #fff;
  overflow: hidden;
  background: #fff;

  cursor: pointer;


  position: relative;
  width: 100%;
  aspect-ratio: 0.75;

  align-items: center;
  justify-content: center;

  display: flex;
  flex-direction: row;
  //transition: all 0.3s ease;
  padding: 5px;

}



/*Image titre - Texte*/
#TitleImage {
  margin: auto;
  margin-top: 5vh;
  display: block;
  width: 60%;
  //image-rendering: pixelated;

}

/*MEDIAS*/
@media screen and (max-aspect-ratio: 5/4) {

  .Body-Position {
    width: 100%;
  }
  #TitleImage {
    width: 80%;
  }

  .BoxArea {
    padding-left: 0%;
    padding-right: 0%;
  }


  .ProjectBoxLayout {
    margin: 8px;
    padding: 2px;

    width: 30%;
    //min-width: 80px;
    //max-width: 220px;
  }


  table {
    width: 100%;
  }

}


@media screen and (max-aspect-ratio: 3/4) {
  .Body-Position {
    width: 100%;
  }
  #TitleImage {
    width: 100%;
  }

  .BoxArea {
    padding-left: 0%;
    padding-right: 0%;
  }


  .ProjectBoxLayout {
    margin: 8px;
    padding: 2px;

    width: 40%;
  }


  table {
    width: 100%;
  }

}
/*END MEDIAS*/



.ProjectTitle {
  // font-weight: 900;
  -webkit-text-stroke: 0.15vh #000;
  font-family: PoppinsB;
  text-shadow: rgba($color: #000, $alpha: 0.7) 4px 4px 0px;

  font-size: var(--fontSizeLarge);
  font-weight: 700;
  position: absolute;
  user-select: none;
  /* transform: translateY(calc(150px));*/
  transform: translateY(0%);

  z-index: 10;

  padding: 1vh;
  text-align: center;
}




.ProjectBox img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}





.img-zoom-in img,
.img-zoom-in .ProjectTitle {

  transition:
    transform .2s ease-in-out,
    filter .2s ease-in-out;
  -webkit-transition:
    transform .2s ease-in-out,
    filter .2s ease-in-out;
  -moz-transition:
    transform .2s ease-in-out,
    filter .2s ease-in-out;
  -ms-transition:
    transform .2s ease-in-out,
    filter .2s ease-in-out;
  -o-transition:
    transform .2s ease-in-out,
    filter .2s ease-in-out;

}

.img-zoom-in img {
  filter: sepia(100%) saturate(500%) brightness(70%) hue-rotate(45deg);
}


.img-zoom-in:hover img {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);

  filter: sepia(0%) saturate(100%) brightness(100%) hue-rotate(0deg) grayscale(0%);

}


.img-zoom-in:hover .ProjectTitle {
  transform: translateY(-10px);
}

.img-zoom-in:hover .scanlines,
.img-zoom-in:hover .movingRefreshScanline {
  opacity: 0%;
}






.scanlines {
  overflow: hidden;
}



.scanlines::before {
  content: "";
  position: absolute;

  width: calc(100% - 10px);
  left: 5px;

  height: 150%;
  top: 0;

  margin-top: -30px;
  opacity: 30%;


  /*
  background: repeating-linear-gradient(
    to bottom,
    transparent 0%,
    rgba(0, 150, 0, 0.5) .5%,
    transparent 1%
  );*/

  background-image: url("../../public/transparent_gradient.png");

}


@supports selector(::-webkit-scrollbar) {

  /* Ce bloc s'applique à Chrome, Edge, Safari... mais pas à Firefox */
  //Firefox épouvantable lags
  .scanlines::before {
    animation: fudge 3s linear infinite;
    transition: opacity 0.3s linear;
  }



  @keyframes fudge {
    from {
      transform: translate(0px, 0px);
    }

    to {
      transform: translate(0px, -30px);
    }
  }




  @keyframes refreshScan {
    0% {
      transform: translateY(-1000px);
    }

    100% {
      transform: translateY(100px);
    }
  }


  .movingRefreshScanline {
    float: left;
    width: 200%;
    height: 100px;
    z-index: 8;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0, rgba(255, 255, 255, .4) 10%, rgba(0, 0, 0, .0) 100%);
    opacity: 0.5;
    position: absolute;
    bottom: 0%;
    transition: opacity 0.3s linear;



    animation: refreshScan 7s linear infinite;
    animation-name: refreshScan;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
  }

}



h1 {
  margin-top: 5vh;
  margin-bottom: 1vh;
  text-align: center;
  font-size: 5vh;
  font-weight: bold;
}

h2 {
  margin-top: 2vh;
  margin-bottom: 1vh;
  font-size: 3.5vh;
  //font-weight: bold;
  color: #8596e0;
}

h3 {
  //margin-top: 2vh;
  margin-bottom: 2.6vh;
  font-size: var(--fontSizeLarge);

}

//Pour les zones entourés de **
em {
  color: #8596e0;
}


p,
span,
li,
form {
  font-size: var(--fontSizeNormal);
  font-weight: 50;
  text-justify: inter-word;
  text-align: justify;
}

a {
  transition: color 0.1s ease;
}

a:active {
  color: #2196F3;
  transition: color 0.1s ease;
}

a:visited {
  color: #8e1dcffd;
  transition: color 0.1s ease;
}

a:hover {
  color: #8acaff;
  transition: color 0.1s ease;
}





.pageImg,
.ReactMarkdown img:not(#TitleImage),
.ReactMarkdown video,
.ReactMarkdown iframe {
    margin: auto;
    margin-bottom: 4vh;
    margin-top: 4vh;
    display: block;


    object-fit: contain;

    @media screen and (min-aspect-ratio: 1/1) {
      height: 60vh;
      max-width: 100%;
    }
    @media screen and (max-aspect-ratio: 1/1) {
      width: 100%;
      height: auto;
    }



    border-radius: .5vh;
    box-shadow: 5px 5px 20px 2px rgba($color: #000, $alpha: .5);
  }


.ReactMarkdown {
  /*REACT MARKDOWN*/

  overflow: hidden;

  li {
    margin-left: 4vh !important;
  }

  span,
  .code {
    line-height: 1.6em;
    display: block;
    margin-top: 1vh;
    margin-bottom: 1.5vh;
  }





  


  /*Pour les caption en dessous des images et des .imagegroup; utiliser *caption* juste aprés l'image ou la video*/
  img+em,
  iframe+em,
  video+em,

  *:has(> .imagegroup)+em,
  //Tous les EM qui suivent les imageGroup
  *:has(> .imagegroup)+span>em {
    display: block !important;

    text-align: center;
    color: #fff;
    opacity: 0.6;
    transform: translateY(-3vh);
    height: 1.7vh;

  }


  /*Fonctionne tant qu'il y a la place*/
  @media screen and (min-width: 800px) {

    *:has(> .imagegroup) {
      //Tous les parents des imageGroup
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px
    }

    *:has(> .imagegroup) img {
      //Tous les images à coté des imageGroup
      display: flex;
      max-width: 50% !important;
      max-height: 40vh;
      width: auto;
    }

  }
}
/*END REACT MARKDOWN*/





/*POPPOVER*/

#popover-basic {
  
  width: 40vh;
  max-width: 40vh;
  font-size: var(--fontSizeLittle);

  img {
  max-width: 90%;
    max-height: 40vh;
    margin-top: 1vh;
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, .3);
  }

  #popover-header {
    font-size: var(--fontSizeNormal);

  }

#popover-body {
    font-size: var(--fontSizeLittle);
}



}
/*END POPPOVER*/







/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 6vh;
  height: 3vh;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2.3vh;
  width: 2.3vh;
  left: 0.5vh;
  bottom: 0.4vh;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(2.7vh);
  -ms-transform: translateX(2.7vh);
  transform: translateX(2.7vh);
}

/* Rounded sliders */
.slider.round {
  border-radius: 5vh;
}

.slider.round:before {
  border-radius: 50%;
}






.background {
  position: fixed;
  height: 999%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -10;
}

.background img {
  width: 100%;

  image-rendering: optimizeSpeed;
  /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;
  /* Firefox                        */
  image-rendering: -o-crisp-edges;
  /* Opera                          */
  image-rendering: -webkit-optimize-contrast;
  /* Chrome (and eventually Safari) */
  image-rendering: pixelated;
  /* Chrome */
  image-rendering: optimize-contrast;
  /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;
  /* IE8+                           */

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}