





table.old_blue_table {
	width: 800px;
	max-width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);


th,
 td {
	padding: 15px;
  font-size: large;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

 th {
	text-align: left;
  font-size: large;
}

thead {
 th {
		background-color: #55608f;
	}
}
}


table.table_compact_horizontal_big{
	width: 600px;
	max-width: 100%;
	margin-top: 30px;
	margin-bottom: 5px;
}

table.table_compact_horizontal_small {
	width: 400px;
	max-width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}



table.table_compact_horizontal_big, table.table_compact_horizontal_small {




	//Margis

	margin-left: auto;
	margin-right: auto;

	//Paddings
	padding-bottom: 8px;


	//Texte
	vertical-align: middle;



	//Bordures
	border-collapse: collapse;
	background-color: rgba(0, 0, 0, .75);
	border-collapse: separate; 
	border-radius: 10px;
	box-shadow: 0 0 1px 1px white inset, 0 0 1px 0px white inset, 10px 10px 20px 0px rgba(0, 0, 0, 0.5);

	//Autres
	overflow: hidden;


th,
 td {
	padding: 8px 5px 0px 5px;
  font-size: large;
	//background-color: rgba(255,255,255,0.2);
	color: #fff;
	text-align: left;

}

td:first-letter {
    text-transform: uppercase;
}

.table_cell_centered{
	margin-left: auto;
	margin-right: auto;
	text-align: center;	

}


.table_cell_title_decorator{
	border-bottom: 1px solid #fff;
	padding-bottom: 8px;
}
}





